<aside>
  <div class="asideHeader">Beliebt</div>
  <div class="iconWrapper">
    <img src="../../../assets/img/icons/wowIcon.png" alt="WoW Icon" />
  </div>
  <div class="iconWrapper">
    <img
      src="../../../assets/img/icons/wowClassicIcon.webp"
      alt="WoW Classic Icon"
    />
  </div>
  <div class="iconWrapper">
    <img
      src="../../../assets/img/icons/newWorldIcon.png"
      alt="New World Icon"
    />
  </div>
</aside>

<div class="landing-page">
  <img
    src="../../../assets/img/LichKingImg.jpg"
    alt="Landing Page Lich King Image"
    class="landing-page-img"
  />
</div>

<div class="expansionsContainer">
  <a href="/wow/retail-gold" class="dragonflightExpansion"
    ><img
      alt="Dragonflight Expansion to choose"
      src="../../../assets/img/WoWDragonflightImg.PNG"
  /></a>
  <img
    class="classicExpansion"
    alt="Classic Expansion to choose"
    src="../../../assets/img/WoWClassicImg.PNG"
  />
</div>

<!--<div class="aboveGold">
  <div class="aboveGoldText">
    <h1><b>Alles über Gold!</b></h1>
    <p><b>4.4</b> rated, based on 10 reviews</p>
    <p>
      Gold in Dragonflight ist immer noch die wichtigste Währung, die Ihnen viele Möglichkeiten bietet. Mit Gold können Sie Reittiere, Haustiere, Transmog-Gegenstände 
      und vor allem Verbrauchsmaterialien für jeden Inhalt kaufen, und sogar mythische Raid-Ausrüstung.
    </p>
    <p>
      Gold Trading Deluxe kann Ihnen jede Menge Gold liefern, die Sie benötigen. In den meisten Fällen beträgt die Lieferzeit weniger als 15 Minuten, aber es hängt 
      vom Server ab und kann variieren. Spieler-zu-Spieler-Handel ohne Zwischenhändler nimmt nicht viel Zeit in Anspruch, sodass Sie fast ohne 
      Unterbrechung Ihrer täglichen WoW-Routine Gold erhalten können.
    </p>
    <p>
      Insgesamt ist Gold in WoW ein vielseitiges und entscheidendes Element, das Spielern zahlreiche Vorteile bietet und ihnen hilft, das Beste aus ihrem Abenteuer in Azeroth zu machen.
    </p>
    <p style="margin-top: 40px;">
      <b>Sie möchten WoW Gold erwerben? Sparen Sie sich die mühsame Arbeit und kaufen Sie es hier!</b>
    </p>
  </div>
</div> -->
