<header class="header">
  <nav class="header-top">
    <div class="logo-wrapper">
      <a routerLink="">
        <img
          src="../../../assets/img/logos/GoldTradingDeluxeLogo.PNG"
          alt="Gold Trading Deluxe Logo"
          class="logo"
      /></a>
    </div>
    <div class="input-field nopad">
      <input
        type="text"
        ng-model="search"
        class="form-control search"
        placeholder="Suchen..."
      />
    </div>
  </nav>
  <div class="header-bottom">
    <div class="btn-wrapper">
      <div class="all-games-dropdown-btn navbar-item">
        <button
          mat-button
          [matMenuTriggerFor]="games"
          class="showAllGamesDropDownBtn"
        >
          Kategorien
        </button>

        <mat-menu #games="matMenu" class="chooseGameNestedButton">
          <button mat-menu-item [matMenuTriggerFor]="wow">
            <a routerLink="wow">WoW</a>
          </button>
          <button mat-menu-item [matMenuTriggerFor]="newWorld">
            New World
          </button>
          <button mat-menu-item [matMenuTriggerFor]="newWorld">
            Bethesda Games
          </button>
          <button mat-menu-item [matMenuTriggerFor]="newWorld">
            Rockstar Games
          </button>
          <button mat-menu-item [matMenuTriggerFor]="newWorld">EA Games</button>
        </mat-menu>

        <mat-menu #wow="matMenu" class="chooseGameNestedButton">
          <button mat-menu-item [matMenuTriggerFor]="wowRetail">
            <a routerLink="wow-retail">WoW Retail</a>
          </button>
          <button mat-menu-item [matMenuTriggerFor]="wowClassic">
            WoW Classic
          </button>
        </mat-menu>

        <mat-menu #newWorld="matMenu" class="chooseGameNestedButton">
          <button mat-menu-item>Taler</button>
        </mat-menu>

        <mat-menu #wowRetail="matMenu" class="chooseGameNestedButton">
          <button mat-menu-item>Gold</button>
        </mat-menu>

        <mat-menu #wowClassic="matMenu" class="chooseGameNestedButton">
          <button mat-menu-item>Gold</button>
        </mat-menu>
      </div>

      <div class="navbar-item">Konto</div>
      <div class="navbar-item">Hilfe</div>
      <div class="navbar-item">Zahlungsoptionen</div>
      <div class="navbar-item">About</div>
    </div>
  </div>
</header>
