.header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #272728;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 15.4%;
  z-index: 2;

  .header-top {
    width: 80%;
    height: 100px;
    margin-bottom: 10px;
    margin: 0 auto;
    align-items: center;
    padding-bottom: 10px;
    display: flex;
    align-items: flex-start;

    .logo-wrapper {
      width: 12.5%;
      height: 100%;
      margin-left: 23px;
      text-align: center;

      .logo {
        height: 100px;
        width: auto;
        margin-left: 20px;
      }
    }

    .input-field .search {
      width: 400px;
      margin: 44px 2px 0 60px;
      height: 38px;
    }
  }

  .header-bottom {
    max-height: 40px;
    width: 100%;
    border-top: 1px solid rgba(222, 222, 222, 0.5);
    background-color: #272728;
    display: flex;
    font-size: 1.1rem;
    justify-content: space-between;

    .btn-wrapper {
      width: 80%;
      margin: 0 auto;
      height: 38.5px;
      display: flex;

      .navbar-item {
        flex: 1; /* Alle Elemente nehmen gleich viel Platz ein */
        padding: 10px; /* Fügen Sie Padding hinzu, um den Abstand zwischen den Elementen zu erhöhen */
        border-right: 1px solid rgba(222, 222, 222, 0.5);
        border-left: 1px solid rgba(222, 222, 222, 0.5);
        text-align: center;
        text-decoration: none;

        &:first-child {
          padding: 0;
        }

        .showAllGamesDropDownBtn {
          background-color: #272728;
          color: white;
          height: 100%;
          width: 100%;
          border: 0;
        }

        .showAllGamesDropDownBtn:hover {
          background-color: #f9d73e;
          color: #272728;
          font-weight: bold;
          opacity: 0.7;
        }
      }

      .navbar-item:hover {
        background-color: #f9d73e;
        color: #272728;
        font-weight: bold;
        opacity: 0.7;
      }
    }
  }
}

::ng-deep .chooseGameNestedButton {
  margin-top: 0.1rem;
  width: 44rem;
  background-color: #565657;

  a {
    text-decoration: none;
  }

  a * {
    text-decoration: none;
    color: #fff;

    /* &:hover {
      background-color: #f9d73e;
    } */
  }
}
