nav {
  position: absolute;
  width: 10%;
  height: 84%;
  /* Fallback für ältere Browser */
  background-color: #20112b;
  /* Verlauf für moderne Browser */
  background-image: linear-gradient(
    89.96deg,
    rgba(86, 79, 255, 0.44) 0.24%,
    rgba(86, 79, 255, 0.106) 99.69%
  );
  background: rgb(5, 6, 34);
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.wow-gold-main-page {
  margin-left: 10%;
  width: 90%;
  height: 84vh;
  background-image: url("./../../../assets/img/DragonflightMainImg.jpg");
  /* Hintergrundbildgröße */
  background-size: cover;
  /* Hintergrundbildposition */
  background-position: center;
  /* Hintergrundbildwiederholung */
  background-repeat: no-repeat;
  /* Hintergrundfarbe, falls das Bild nicht geladen werden kann */
  background-color: #f0f0f0;
}

.wow-gold-main-page::after {
  position: absolute;
  content: "";
  width: 90%;
  height: 80.5vh;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  z-index: 1;
}
