<div class="landing-page">
  <img
    src="../../../assets/img/LichKingImg.jpg"
    alt="Landing Page Lich King Image"
    class="landing-page-img"
  />
</div>

<div class="expansionsContainer">
  <img
    class="dragonflightExpansion"
    alt="Dragonflight Expansion to choose"
    src="../../../assets/img/WoWDragonflightImg.PNG"
  />
  <img
    class="classicExpansion"
    alt="Classic Expansion to choose"
    src="../../../assets/img/WoWClassicImg.PNG"
  />
</div>

<div class="aboveGold">
  <div class="aboveGoldText">
    <h6>Alles über Gold!</h6>
    <p>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
      eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
      voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
      clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
      amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
      nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
      diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
      Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
      sit amet.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
      eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
      voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
      clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
      amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
      nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
      diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
      Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
      sit amet.
    </p>
  </div>
</div>
<p>landing-page works!</p>
