<p>about works!</p>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Server
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Aegwyn</a></li>
    <li><a class="dropdown-item" href="#">Aggmaggan</a></li>
    <li><a class="dropdown-item" href="#">Blackhand</a></li>
    <li><a class="dropdown-item" href="#">Blackmoore</a></li>
    <li><a class="dropdown-item" href="#">Norgannon</a></li>
  </ul>
</div>
