/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  & > div {
    height: 0;
  }
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
