<div class="wow-classic-gold-main-page">
  <div class="wow-gold-main-page-content-wrapper">
    <p class="location-path">Home > World of Warcraft: Classic > Gold</p>
    <h1>WoW GOLD Classic</h1>
    <p class="gold-classic-paragraph">
      Gold in Dragonflight ist immer noch die wichtigste Währung, die Ihnen viele Möglichkeiten bietet. Mit Gold können Sie Reittiere, Haustiere, Transmog-Gegenstände
      und vor allem Verbrauchsmaterialien für jeden Inhalt kaufen, und sogar mythische Raid-Ausrüstung.
    </p>
    <span class="scam-notification">Gold-Trading-Deluxe wird niemals nach Gold zurückfragen. Falls jemand das tut, handelt es sich um einen Betrug.</span>
    <p class="offers">{{ offers }} offers</p>
    <app-wow-gold-offer></app-wow-gold-offer>
  </div>
</div>
