.game-properties-bar {
  display: flex;

  .switcher-tab-servers {
    margin-left: 0px;
  }

  .switcher-tab-fractions {
    margin-left: 15px;
  }

  .btn  {
    width: 150px;
    margin-left: 15px;

    ::after {
      color: red;
    }
  }
}
