<app-modal class="modal-overlay" *ngIf="modalGoldSellOpen" (close)="closeGoldSellModal()">
    <!-- TODO: später in wow-sell-gold ausalgern -->
    <div class="modal-content">
      <!-- Modal contents here -->
      <form [formGroup]="sellGoldForm" (ngSubmit)="sellGold()">
        <div>
          <label for="sell-price">Verkaupfspreis / 100k</label>
          <input id="sell-price" type="number" formControlName="sellPrice">
        </div>
        <div>
          <label for="max-quantity">Max. Menge</label>
          <input id="max-quantity" type="number" formControlName="maxQuantity">
        </div>
        <div>
          <label for="max-fraction">Max. Menge</label>
          <select id='sell-fraction' formControlName="sellFraction"[(ngModel)]="fractions">
            <option *ngFor="let item of fractions" [value]="item">
              {{item}}
            </option>
          </select>

        </div>
        <div>
          <label for="sell-server">Server</label>
          <input id="sell-server" type="text" formControlName="sellServer">
        </div>

      </form>
      <button class="button" type="submit">Verkaufen</button>
      <button (click)="closeGoldSellModal()">Schließen</button>
    </div>
</app-modal>


<div class="game-properties-bar">
  <app-switcher-tab
    class="switcher-tab-servers"
    [providedContentElements]="region">
  </app-switcher-tab>
  <app-switcher-tab
    class="switcher-tab-fractions"
    [providedContentElements]="fractions">
  </app-switcher-tab>

  <select class="server-menu" [(ngModel)]="selectedServer" (ngModelChange)="onServerChange($event)">>
    <option class="server-menu-option" *ngFor="let server of servers" [value]="server.value">
      <span *ngIf="server.value === 'all'; else specificServer">
        {{ "wow.servers.all-server-text" | translate }}
      </span>
      <ng-template #specificServer>
        {{ server.name }}
      </ng-template>
    </option>
  </select>
  <button class="gold-sell-btn" (click)="openGoldSellModal()" *ngIf="user">
    <i class="material-icons add-icon">add</i>
    <span>{{ "wow.gold-seller-btn-text" | translate }}</span>
  </button>
</div>
<app-gold-offer-item></app-gold-offer-item>
<app-gold-offer-item></app-gold-offer-item>
<app-gold-offer-item></app-gold-offer-item>
<app-gold-offer-item></app-gold-offer-item>
<app-gold-offer-item></app-gold-offer-item>
<app-gold-offer-item></app-gold-offer-item>
<app-gold-offer-item></app-gold-offer-item>
<app-gold-offer-item></app-gold-offer-item>

