<p>wow-gold-offer works!</p>
<div class="game-properties-bar">
  <app-switcher-tab
    class="switcher-tab-servers"
    [providedContentElements]="region">
  </app-switcher-tab>
  <app-switcher-tab
    class="switcher-tab-fractions"
    [providedContentElements]="fractions">
  </app-switcher-tab>

  <select class="server-menu" [(ngModel)]="selectedServer" (ngModelChange)="onServerChange($event)">>
    <option class="server-menu-option" *ngFor="let server of servers" [value]="server.value">{{ server.name }}</option>
  </select>
</div>

